
@font-face {
  font-family: 'Amazon Ember', sans-serif;
  src:
          local('Amazon Ember'),
          url(../assets/fonts/amazon_ember/AmazonEmber_Rg.ttf) format('truetype');
}

@font-face {
  font-family: 'Amazon Ember', sans-serif;
  src:
          local('Amazon Ember'),
          url(../assets/fonts/amazon_ember/AmazonEmber_RgIt.ttf) format('truetype');
}

@font-face {
  font-family: 'Amazon Ember', sans-serif;
  src:
          local('Amazon Ember'),
          url(../assets/fonts/amazon_ember/AmazonEmber_Bd.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Amazon Ember', sans-serif;
  src:
          local('Amazon Ember'),
          url(../assets/fonts/amazon_ember/AmazonEmber_BdIt.ttf) format('truetype');
  font-weight: bold;
  font-style: italic;
}

body {
  margin: 0;
  font-family: 'Amazon Ember', 'Arial', sans-serif;
}

#app {

}

:root {
  --primary-color: #008080
}